body{
	background-color: #84f1f1;
}
.login-container{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 450px;
	transform: translate(-50%, -50%);
	border-radius: 10%;
	box-shadow: 3px 3px 10px 5px #000;
	padding: 30px;
}
.textJudul{
	font-family:  sans-serif;
}
.textForm{
	font-family:  sans-serif;
	font-size: 14px;
}
.text-hover{
	text-decoration: none;
	color: #2D2D2D;
}
.text-hover:hover{
	text-decoration: none;
	color: #2D2D2D;
	font-weight: 700;
}