/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* CSS untuk navigasi */
.navbar {
  box-shadow: 3px 10px 25px -19px rgba(0, 0, 0, 0.75);
}

.active-link{
  font-weight: bold;
  color: #012d80 !important;
}

.navbar-brand {
  margin-left: 1rem;
}

.navbar-toggler {
  border: none;
  outline: none;
  background-color: transparent;
}

.navbar-nav {
  margin-right: 100px;
}

.nav-link {
  color: #1b55c0 !important;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #012d80;
}

/* CSS untuk menu toggle */
.navbar-toggler-icon {
  color: #fff;
}

h3{
  color: #012d80;
}

.jumbotron {
  padding-top: 3rem;
  background-color: #0d6efd;
}

/* menyembuyikan keranjang */
.container {
  display: none;
}